{
  "openapi": "3.0.3",
  "info": {
    "title": "Capisum API",
    "description": "API for creating payouts and querying transactions. Authenticate with an organization API key (`Authorization: Bearer cps_...`). The key's environment (staging or production) scopes provider credentials.\n\n**Shipped today:** Payouts in NGN, GHS, and KES.",
    "version": "1.0.0",
    "contact": {
      "name": "Capisum Support",
      "email": "support@capisum.com",
      "url": "https://capisum.com"
    }
  },
  "externalDocs": {
    "description": "Integration guides",
    "url": "https://docs.capisum.com/quickstart"
  },
  "servers": [
    {
      "url": "https://api.capisum.com",
      "description": "Production"
    },
    {
      "url": "http://localhost:3000",
      "description": "Local development"
    }
  ],
  "tags": [
    {
      "name": "Conversion"
    },
    {
      "name": "Customers"
    },
    {
      "name": "Off-ramp"
    },
    {
      "name": "On-ramp"
    },
    {
      "name": "Pay-in destinations"
    },
    {
      "name": "Payouts"
    },
    {
      "name": "Providers"
    },
    {
      "name": "Reference"
    },
    {
      "name": "Transactions"
    },
    {
      "name": "Verification"
    }
  ],
  "paths": {
    "/v1/providers": {
      "get": {
        "tags": [
          "Providers"
        ],
        "summary": "List available providers",
        "operationId": "get_v1_providers",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AvailableProviderListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "description": "Returns provider slugs Capisum can route to when connected in your workspace. Includes NGN bank payout providers and Quidax crypto wallet payouts.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ]
      }
    },
    "/v1/payouts/capabilities": {
      "get": {
        "tags": [
          "Payouts"
        ],
        "summary": "Get payout contract and provider capabilities",
        "operationId": "get_v1_payouts_capabilities",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PayoutCapabilitiesResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "description": "Returns supported payout providers, currencies, countries, destination types, and per-rail `required_fields` for the current contract version. Capabilities are derived from each provider's payout profile (not a hardcoded global currency list). Use each provider's `rails` array to see what Capisum can route for that provider.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ]
      }
    },
    "/v1/reference/banks": {
      "get": {
        "tags": [
          "Reference"
        ],
        "summary": "List canonical banks",
        "operationId": "get_v1_reference_banks",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BankReferenceResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "description": "Returns Capisum canonical bank identifiers for payouts. Use `bank_id` on payout recipients; Capisum resolves provider-specific codes at execution time. Filter with `provider` to see only banks mappable to that provider and include that provider's `bank_code`.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "currency",
            "in": "query",
            "schema": {
              "type": "string",
              "minLength": 3,
              "maxLength": 3,
              "default": "NGN"
            }
          },
          {
            "name": "provider",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Optional provider slug (e.g. palmpay, fincra)."
          }
        ]
      }
    },
    "/v1/providers/{slug}/status": {
      "get": {
        "tags": [
          "Providers"
        ],
        "summary": "Get provider status",
        "operationId": "get_v1_providers_slug_status",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProviderHealthResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "description": "Returns the latest health snapshot for a provider in the API key's environment. If no health data exists, returns `{ \"status\": \"unknown\" }`.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "fincra"
            }
          }
        ]
      }
    },
    "/v1/providers/{slug}/balance": {
      "get": {
        "tags": [
          "Providers"
        ],
        "summary": "Get provider balance",
        "operationId": "get_v1_providers_slug_balance",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProviderBalanceResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "502": {
            "$ref": "#/components/responses/ProviderError"
          }
        },
        "description": "Returns the available balance for a connected provider in the API key's environment. Amounts are in minor units (for example, `500000` = \u20a65,000.00 in NGN; Quidax crypto uses 8 decimals). Supported for `fincra`, `paystack`, `flutterwave`, `palmpay`, and `quidax`.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "fincra"
            }
          },
          {
            "name": "currency",
            "in": "query",
            "schema": {
              "type": "string",
              "minLength": 3,
              "maxLength": 10
            },
            "description": "Optional currency or asset filter (e.g. NGN, USDT, BTC)."
          }
        ]
      }
    },
    "/v1/verify/account": {
      "post": {
        "tags": [
          "Verification"
        ],
        "summary": "Verify bank account",
        "operationId": "post_v1_verify_account",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerifyAccountResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "502": {
            "$ref": "#/components/responses/ProviderError"
          }
        },
        "description": "Resolve a bank account name through a connected provider that supports account resolution. `provider` is optional: omit it to use the dashboard account default, or enable Override request provider to ignore a sent provider. Use `bank_id` from `GET /v1/reference/banks` when possible. Supported for `fincra`, `paystack`, `flutterwave`, `palmpay`, and `quidax`.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyAccountRequest"
              }
            }
          }
        }
      }
    },
    "/v1/transactions/payout": {
      "post": {
        "tags": [
          "Transactions"
        ],
        "summary": "Create payout",
        "operationId": "post_v1_transactions_payout",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "502": {
            "$ref": "#/components/responses/ProviderError"
          }
        },
        "description": "Create a payout through Capisum routing. Amounts are in minor units (for example, `500000` = \u20a65,000.00 in NGN; Quidax crypto uses 8 decimals, so `500000000` = 5 USDT).\n\nCapisum accepts one canonical `destination` shape; each provider adapter translates it. Use `GET /v1/payouts/capabilities` for provider-specific currencies, countries, rails, and `required_fields`. Validation depends on the resolved provider + country + currency + rail (USD ACH differs from NGN bank transfer). NGN catalog banks use `GET /v1/reference/banks` for `bank_id`. Crypto wallet payouts use top-level `currency` with `destination.type = crypto_wallet`, `destination.address`, and `destination.network`.\n\nPayouts are queued for asynchronous provider submission. A successful response returns `status: queued` with your merchant `reference`. Capisum assigns per-attempt provider transfer references internally.\n\nRequires `X-Idempotency-Key`.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "X-Idempotency-Key",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[a-zA-Z0-9_-]{1,128}$"
            },
            "description": "Unique key for safe retries. Reusing a key returns the original transaction."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PayoutRequest"
              },
              "examples": {
                "ngn_bank": {
                  "summary": "NGN bank payout",
                  "value": {
                    "amount": "500000",
                    "currency": "NGN",
                    "provider": "fincra",
                    "destination": {
                      "type": "bank_account",
                      "bank_id": "ng.opay",
                      "account_number": "7068270185",
                      "account_name": "Test Recipient"
                    },
                    "description": "NGN vendor payout"
                  }
                },
                "usd_ach_yativo": {
                  "summary": "USD ACH payout (Yativo)",
                  "value": {
                    "amount": "25000",
                    "currency": "USD",
                    "provider": "yativo",
                    "destination": {
                      "type": "bank_account",
                      "country": "US",
                      "account_number": "123456789",
                      "routing_number": "021000021",
                      "account_type": "checking",
                      "account_name": "Alex Smith",
                      "name": "Alex Smith",
                      "email": "alex@example.com",
                      "physical_address": "123 Main Street, New York",
                      "recipient_type": "individual"
                    },
                    "description": "USD ACH payout via yativo"
                  }
                },
                "ghs_mobile_money": {
                  "summary": "GHS mobile money payout",
                  "value": {
                    "amount": "10000",
                    "currency": "GHS",
                    "provider": "fincra",
                    "destination": {
                      "type": "mobile_money",
                      "mobile_money_code": "MTN",
                      "account_number": "2330803443433",
                      "account_name": "Ama Mensah"
                    }
                  }
                },
                "kes_mobile_money": {
                  "summary": "KES mobile money payout",
                  "value": {
                    "amount": "50000",
                    "currency": "KES",
                    "provider": "fincra",
                    "destination": {
                      "type": "mobile_money",
                      "mobile_money_code": "SAFARICOM",
                      "account_number": "254803456789",
                      "account_name": "John Kamau"
                    }
                  }
                },
                "btc_wallet": {
                  "summary": "BTC crypto wallet payout",
                  "value": {
                    "amount": "40000000",
                    "currency": "BTC",
                    "provider": "quidax",
                    "destination": {
                      "type": "crypto_wallet",
                      "address": "bc1qel75acv9tdwqdx86tla6yyxagp2fvq2tntxntp",
                      "network": "bitcoin"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl -X POST https://api.capisum.com/v1/transactions/payout \\\n  -H \"Authorization: Bearer cps_your_key\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"X-Idempotency-Key: payout-order-123\" \\\n  -d '{\n    \"amount\": \"500000\",\n    \"currency\": \"NGN\",\n    \"provider\": \"fincra\",\n    \"destination\": {\n      \"type\": \"bank_account\",\n      \"bank_id\": \"ng.opay\",\n      \"account_number\": \"7068270185\",\n      \"account_name\": \"Test Recipient\"\n    }\n  }'"
          },
          {
            "lang": "javascript",
            "label": "Node.js",
            "source": "const response = await fetch('https://api.capisum.com/v1/transactions/payout', {\n  method: 'POST',\n  headers: {\n    Authorization: 'Bearer cps_your_key',\n    'Content-Type': 'application/json',\n    'X-Idempotency-Key': 'payout-order-123',\n  },\n  body: JSON.stringify({\n    amount: '500000',\n    currency: 'NGN',\n    provider: 'fincra',\n    destination: {\n      type: 'bank_account',\n      bank_id: 'ng.opay',\n      account_number: '7068270185',\n      account_name: 'Test Recipient',\n    },\n  }),\n});\nconst { data } = await response.json();"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import requests\n\nresponse = requests.post(\n    'https://api.capisum.com/v1/transactions/payout',\n    headers={\n        'Authorization': 'Bearer cps_your_key',\n        'X-Idempotency-Key': 'payout-order-123',\n    },\n    json={\n        'amount': '500000',\n        'currency': 'NGN',\n        'provider': 'fincra',\n        'destination': {\n            'type': 'bank_account',\n            'bank_id': 'ng.opay',\n            'account_number': '7068270185',\n            'account_name': 'Test Recipient',\n        },\n    },\n)\nprint(response.json()['data'])"
          }
        ]
      }
    },
    "/v1/transactions/pay-in/merchant-wallet": {
      "post": {
        "tags": [
          "Transactions"
        ],
        "summary": "Create merchant wallet pay-in",
        "operationId": "post_v1_transactions_pay-in_merchant-wallet",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "502": {
            "$ref": "#/components/responses/ProviderError"
          }
        },
        "description": "Generate a crypto deposit address on the merchant Quidax or Bitnob account. Funds settle to the merchant wallet. Customer is optional Capisum metadata.\n\nSend `asset` (e.g. `usdt`) and `network` (e.g. `trc20`). Amounts are 8-decimal minor units (for example, `500000000` = 5 USDT). The address is returned on `deposit`, with `deposit.wallet` = `merchant_wallet`. Listen for webhooks; `transaction.settled` confirms the deposit.\n\nRequires `X-Idempotency-Key`.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "X-Idempotency-Key",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[a-zA-Z0-9_-]{1,128}$"
            },
            "description": "Unique key for safe retries. Reusing a key returns the original transaction."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MerchantWalletPayInRequest"
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl -X POST https://api.capisum.com/v1/transactions/pay-in/merchant-wallet \\\n  -H \"Authorization: Bearer cps_your_key\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"X-Idempotency-Key: payin-merchant-123\" \\\n  -d '{\n    \"amount\": \"500000000\",\n    \"asset\": \"usdt\",\n    \"network\": \"trc20\",\n    \"provider\": \"quidax\"\n  }'"
          }
        ]
      }
    },
    "/v1/transactions/pay-in/customer-wallet": {
      "post": {
        "tags": [
          "Transactions"
        ],
        "summary": "Create customer wallet pay-in",
        "operationId": "post_v1_transactions_pay-in_customer-wallet",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "502": {
            "$ref": "#/components/responses/ProviderError"
          }
        },
        "description": "Generate a crypto deposit address attributed to `customer.email` (Quidax sub-account or Bitnob customer-linked address). `customer.name` is optional.\n\nSend `asset` (e.g. `usdt`), `network` (e.g. `trc20`), and `customer.email`. Amounts are 8-decimal minor units (for example, `500000000` = 5 USDT). The address is returned on `deposit`, with `deposit.wallet` = `customer_wallet`. Listen for webhooks; `transaction.settled` confirms the deposit.\n\nRequires `X-Idempotency-Key`.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "X-Idempotency-Key",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[a-zA-Z0-9_-]{1,128}$"
            },
            "description": "Unique key for safe retries. Reusing a key returns the original transaction."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerWalletPayInRequest"
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl -X POST https://api.capisum.com/v1/transactions/pay-in/customer-wallet \\\n  -H \"Authorization: Bearer cps_your_key\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"X-Idempotency-Key: payin-customer-123\" \\\n  -d '{\n    \"amount\": \"500000000\",\n    \"asset\": \"usdt\",\n    \"network\": \"trc20\",\n    \"provider\": \"quidax\",\n    \"customer\": {\n      \"email\": \"ada@example.com\",\n      \"name\": \"Ada Okafor\"\n    }\n  }'"
          }
        ]
      }
    },
    "/v1/transactions": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "summary": "List transactions",
        "operationId": "get_v1_transactions",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "description": "List transactions for your organization. Results are cursor-paginated.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "starting_after",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Transaction ID cursor for the next page."
          },
          {
            "name": "ending_before",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Transaction ID cursor for the previous page."
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "pay_in",
                "payout",
                "refund",
                "onramp",
                "offramp",
                "conversion"
              ]
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "pending",
                "processing",
                "authorized",
                "settled",
                "failed",
                "cancelled",
                "refunded"
              ]
            }
          },
          {
            "name": "status_group",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "successful",
                "pending",
                "review",
                "failed",
                "refunded"
              ]
            },
            "description": "Filter by lifecycle group. `pending` includes queued/processing states; `review` includes uncertain/manual_review."
          },
          {
            "name": "provider",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "created_after",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "environment",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "staging",
                "production"
              ]
            }
          }
        ]
      }
    },
    "/v1/transactions/ref/{reference}": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "summary": "Get transaction by reference",
        "operationId": "get_v1_transactions_ref_reference",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "reference",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/transactions/{id}": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "summary": "Get transaction by ID",
        "operationId": "get_v1_transactions_id",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ]
      }
    },
    "/v1/transactions/{id}/verify": {
      "post": {
        "tags": [
          "Transactions"
        ],
        "summary": "Verify transaction",
        "operationId": "post_v1_transactions_id_verify",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "502": {
            "$ref": "#/components/responses/ProviderError"
          }
        },
        "description": "Poll the upstream provider for the latest status and update the transaction record.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ]
      }
    },
    "/v1/customers": {
      "post": {
        "tags": [
          "Customers"
        ],
        "summary": "Create customer",
        "operationId": "post_v1_customers",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          }
        },
        "description": "Create a Capisum customer, resolve the pay-in provider (dashboard configuration wins over request `provider` when both exist), immediately create the provider customer when the adapter requires one, and return the Capisum customer with selected provider and normalized verification status/requirements. Provider customer IDs stay internal.\n\nSome pay-in providers require `email`, `phone` (E.164), and `country` before they will issue a destination. Supplying them up front avoids a second round trip.\n\n`reference` is your own identifier and is unique per environment \u2014 reusing it returns the existing customer instead of creating a duplicate.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerRequest"
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "List customers",
        "operationId": "get_v1_customers",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "description": "List customers in the API key's environment. Results are cursor-paginated.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "starting_after",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Customer ID cursor for the next page."
          },
          {
            "name": "ending_before",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Customer ID cursor for the previous page."
          },
          {
            "name": "email",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "email"
            }
          },
          {
            "name": "reference",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "individual",
                "business"
              ]
            }
          },
          {
            "name": "verification_status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "requires_action",
                "submitted",
                "approved",
                "rejected"
              ]
            }
          }
        ]
      }
    },
    "/v1/customers/{id}": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Get customer by ID",
        "operationId": "get_v1_customers_id",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "description": "Read a customer, including the current `verification_status`. While verification is still open, Capisum refreshes status from the provider. Poll this after `POST /v1/customers/{id}/kyc`. `verification_url` is only present as a hosted fallback when the provider exposes one.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "cus_5f2c1a9b7e4d0c3a8b6f2e"
            }
          }
        ]
      }
    },
    "/v1/customers/{id}/kyc": {
      "post": {
        "tags": [
          "Customers"
        ],
        "summary": "Submit customer KYC",
        "operationId": "post_v1_customers_id_kyc",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "502": {
            "$ref": "#/components/responses/ProviderError"
          }
        },
        "description": "Submit identity verification for a customer through the pay-in provider's KYC API. Capisum loads the existing ProviderCustomer mapping, translates the provider-neutral payload, submits it to the provider KYC API, and normalizes status to `submitted`, `approved`, `rejected`, or `requires_action`. `provider` / `currency` are optional when the customer was already bound at create time; when both request and dashboard routing exist, dashboard wins.\n\nPay-in destinations that require provider KYC stay blocked until the provider reports approval (`verification_status: approved` and destination creation allowed).",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "cus_5f2c1a9b7e4d0c3a8b6f2e"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerKycRequest"
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Customers"
        ],
        "summary": "Update customer KYC",
        "operationId": "put_v1_customers_id_kyc",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "502": {
            "$ref": "#/components/responses/ProviderError"
          }
        },
        "description": "Correct or complete a KYC submission after a rejection. Send only the fields that need updating, plus `provider` or `currency` for routing.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "cus_5f2c1a9b7e4d0c3a8b6f2e"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerKycUpdateRequest"
              }
            }
          }
        }
      }
    },
    "/v1/pay-in-destinations": {
      "post": {
        "tags": [
          "Pay-in destinations"
        ],
        "summary": "Create pay-in destination",
        "operationId": "post_v1_pay-in-destinations",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PayInDestinationResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "502": {
            "$ref": "#/components/responses/ProviderError"
          }
        },
        "description": "Create a virtual account where a customer can send fiat. Capisum resolves the provider, creates or reuses the provider's customer record, checks verification, then returns normalized bank account details you can display directly.\n\n`type: bank_account` is the only destination type on this endpoint today. Yativo covers BRL, MXN/MXNBASE, USD/USDBASE, and EUR/EURBASE. Fincra covers NGN (requires `metadata.bvn`), GHS, and KES. Crypto deposit addresses use POST /v1/transactions/pay-in/merchant-wallet or POST /v1/transactions/pay-in/customer-wallet.\n\nWhen the provider still needs the customer to finish verification, the response returns `status: verification_required`. Submit KYC with `POST /v1/customers/{id}/kyc` (primary), or use `verification_url` only when the provider exposes a hosted fallback, then retry.\n\nDestinations are reusable: repeating the same request for the same customer, provider, type, and currency returns the existing active destination rather than creating another.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PayInDestinationRequest"
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Pay-in destinations"
        ],
        "summary": "List pay-in destinations",
        "operationId": "get_v1_pay-in-destinations",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PayInDestinationListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "description": "List pay-in destinations, optionally filtered by customer. Results are cursor-paginated.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "starting_after",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Destination ID cursor for the next page."
          },
          {
            "name": "ending_before",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Destination ID cursor for the previous page."
          },
          {
            "name": "customer_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "bank_account"
              ]
            }
          },
          {
            "name": "currency",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "provider",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "pending",
                "active",
                "inactive",
                "expired"
              ]
            }
          }
        ]
      }
    },
    "/v1/pay-in-destinations/{id}": {
      "get": {
        "tags": [
          "Pay-in destinations"
        ],
        "summary": "Get pay-in destination by ID",
        "operationId": "get_v1_pay-in-destinations_id",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PayInDestinationResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "description": "Read a destination and its banking or crypto details. Deposits into this destination create `pay_in` transactions linked to both the destination and its customer.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "pid_9a4c2f7b1e8d0a3c5b6f2e"
            }
          }
        ]
      }
    },
    "/v1/onramp/quote": {
      "post": {
        "tags": [
          "On-ramp"
        ],
        "summary": "Create on-ramp quote",
        "operationId": "post_v1_onramp_quote",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuoteResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "502": {
            "$ref": "#/components/responses/ProviderError"
          }
        },
        "description": "Price a fiat-to-crypto on-ramp. Amounts are source-asset minor units (NGN/GHS use 2 decimals; crypto uses 8). Requires `X-Idempotency-Key`. Reuse the same key to refresh an expired quote without creating a duplicate.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "X-Idempotency-Key",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[a-zA-Z0-9_-]{1,128}$"
            },
            "description": "Unique key for safe retries. Reusing a key returns or refreshes the original quote."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RampQuoteRequest"
              }
            }
          }
        }
      }
    },
    "/v1/onramp": {
      "post": {
        "tags": [
          "On-ramp"
        ],
        "summary": "Initiate on-ramp",
        "operationId": "post_v1_onramp",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RampTransactionResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "502": {
            "$ref": "#/components/responses/ProviderError"
          }
        },
        "description": "Start a fiat-to-crypto on-ramp from a quote. Returns payment instructions (bank account or mobile money). Settlement happens asynchronously via webhooks. Requires `X-Idempotency-Key`.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "X-Idempotency-Key",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[a-zA-Z0-9_-]{1,128}$"
            },
            "description": "Unique key for safe retries. Reusing a key returns the original transaction."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OnrampInitiateRequest"
              }
            }
          }
        }
      }
    },
    "/v1/onramp/{id}": {
      "get": {
        "tags": [
          "On-ramp"
        ],
        "summary": "Get on-ramp",
        "operationId": "get_v1_onramp_id",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RampTransactionResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ]
      }
    },
    "/v1/onramp/{id}/status": {
      "get": {
        "tags": [
          "On-ramp"
        ],
        "summary": "Get on-ramp status",
        "operationId": "get_v1_onramp_id_status",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RampTransactionResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "502": {
            "$ref": "#/components/responses/ProviderError"
          }
        },
        "description": "Poll the provider and return the latest Capisum status. Does not mark completion from provider acceptance alone.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ]
      }
    },
    "/v1/onramp/{id}/otp": {
      "post": {
        "tags": [
          "On-ramp"
        ],
        "summary": "Confirm on-ramp mobile money OTP",
        "operationId": "post_v1_onramp_id_otp",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RampTransactionResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "502": {
            "$ref": "#/components/responses/ProviderError"
          }
        },
        "description": "Confirm a GHS mobile-money OTP after initiating an on-ramp with payment.type = mobile_money.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OnrampOtpRequest"
              }
            }
          }
        }
      }
    },
    "/v1/offramp/quote": {
      "post": {
        "tags": [
          "Off-ramp"
        ],
        "summary": "Create off-ramp quote",
        "operationId": "post_v1_offramp_quote",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuoteResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "502": {
            "$ref": "#/components/responses/ProviderError"
          }
        },
        "description": "Price a crypto-to-fiat off-ramp. Amounts are source-asset minor units. Requires `X-Idempotency-Key`.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "X-Idempotency-Key",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[a-zA-Z0-9_-]{1,128}$"
            },
            "description": "Unique key for safe retries."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RampQuoteRequest"
              }
            }
          }
        }
      }
    },
    "/v1/offramp": {
      "post": {
        "tags": [
          "Off-ramp"
        ],
        "summary": "Initiate off-ramp",
        "operationId": "post_v1_offramp",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RampTransactionResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "502": {
            "$ref": "#/components/responses/ProviderError"
          }
        },
        "description": "Start a crypto-to-fiat off-ramp from a quote. Returns a crypto deposit address. Fiat payout completes asynchronously. Requires `X-Idempotency-Key`.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "X-Idempotency-Key",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[a-zA-Z0-9_-]{1,128}$"
            },
            "description": "Unique key for safe retries."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OfframpInitiateRequest"
              }
            }
          }
        }
      }
    },
    "/v1/offramp/{id}": {
      "get": {
        "tags": [
          "Off-ramp"
        ],
        "summary": "Get off-ramp",
        "operationId": "get_v1_offramp_id",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RampTransactionResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ]
      }
    },
    "/v1/offramp/{id}/status": {
      "get": {
        "tags": [
          "Off-ramp"
        ],
        "summary": "Get off-ramp status",
        "operationId": "get_v1_offramp_id_status",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RampTransactionResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "502": {
            "$ref": "#/components/responses/ProviderError"
          }
        },
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ]
      }
    },
    "/v1/conversion/quote": {
      "post": {
        "tags": [
          "Conversion"
        ],
        "summary": "Create conversion quote",
        "operationId": "post_v1_conversion_quote",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuoteResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "502": {
            "$ref": "#/components/responses/ProviderError"
          }
        },
        "description": "Price an asset-to-asset conversion with no bank collection or payout. Requires `X-Idempotency-Key`.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "X-Idempotency-Key",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[a-zA-Z0-9_-]{1,128}$"
            },
            "description": "Unique key for safe retries."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RampQuoteRequest"
              }
            }
          }
        }
      }
    },
    "/v1/conversion/execute": {
      "post": {
        "tags": [
          "Conversion"
        ],
        "summary": "Execute conversion",
        "operationId": "post_v1_conversion_execute",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RampTransactionResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "502": {
            "$ref": "#/components/responses/ProviderError"
          }
        },
        "description": "Execute a conversion quote. Status remains processing until the provider settles. Requires `X-Idempotency-Key`.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "X-Idempotency-Key",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[a-zA-Z0-9_-]{1,128}$"
            },
            "description": "Unique key for safe retries."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConversionExecuteRequest"
              }
            }
          }
        }
      }
    },
    "/v1/conversion/{id}/status": {
      "get": {
        "tags": [
          "Conversion"
        ],
        "summary": "Get conversion status",
        "operationId": "get_v1_conversion_id_status",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RampTransactionResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "502": {
            "$ref": "#/components/responses/ProviderError"
          }
        },
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Organization API key (`cps_...`) from the Capisum dashboard."
      }
    },
    "schemas": {
      "AvailableProvider": {
        "type": "object",
        "required": [
          "id",
          "slug",
          "name",
          "status",
          "configurable",
          "capabilities",
          "supported_currencies",
          "supported_destinations"
        ],
        "properties": {
          "id": {
            "type": "string",
            "example": "provider_fincra"
          },
          "slug": {
            "type": "string",
            "example": "fincra"
          },
          "name": {
            "type": "string",
            "example": "Fincra"
          },
          "status": {
            "type": "string",
            "enum": [
              "available"
            ],
            "example": "available"
          },
          "configurable": {
            "type": "boolean",
            "example": true
          },
          "capabilities": {
            "type": "object",
            "required": [
              "payin",
              "payout",
              "balance",
              "account_resolution",
              "onramp",
              "offramp",
              "conversion"
            ],
            "properties": {
              "payin": {
                "type": "boolean",
                "example": false
              },
              "payout": {
                "type": "boolean",
                "example": true
              },
              "balance": {
                "type": "boolean",
                "example": true
              },
              "account_resolution": {
                "type": "boolean",
                "example": true
              },
              "onramp": {
                "type": "boolean",
                "example": false
              },
              "offramp": {
                "type": "boolean",
                "example": false
              },
              "conversion": {
                "type": "boolean",
                "example": false
              }
            }
          },
          "supported_currencies": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "NGN"
              ]
            }
          },
          "supported_destinations": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "bank_account"
              ]
            }
          }
        }
      },
      "AvailableProviderListResponse": {
        "type": "object",
        "required": [
          "data",
          "meta"
        ],
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AvailableProvider"
            }
          },
          "meta": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ResponseMeta"
              },
              {
                "type": "object",
                "required": [
                  "pagination"
                ],
                "properties": {
                  "pagination": {
                    "$ref": "#/components/schemas/PaginationMeta"
                  }
                }
              }
            ]
          }
        }
      },
      "ProviderHealth": {
        "type": "object",
        "required": [
          "status"
        ],
        "properties": {
          "status": {
            "type": "string",
            "example": "healthy"
          },
          "successRate": {
            "type": "number",
            "nullable": true
          },
          "latencyP50Ms": {
            "type": "integer",
            "nullable": true
          },
          "latencyP95Ms": {
            "type": "integer",
            "nullable": true
          },
          "requestCount": {
            "type": "integer",
            "nullable": true
          },
          "errorCount": {
            "type": "integer",
            "nullable": true
          },
          "recordedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "ProviderHealthResponse": {
        "type": "object",
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "$ref": "#/components/schemas/ProviderHealth"
          }
        }
      },
      "VerifyAccountRequest": {
        "type": "object",
        "required": [
          "account_number"
        ],
        "properties": {
          "provider": {
            "type": "string",
            "description": "Connected provider slug (for example, `palmpay` or `paystack`). Optional: when omitted, Capisum uses the dashboard account default. When Override request provider is enabled, this field is ignored.",
            "example": "palmpay"
          },
          "account_number": {
            "type": "string",
            "minLength": 6,
            "maxLength": 20,
            "example": "0123456789"
          },
          "bank_id": {
            "type": "string",
            "description": "Capisum canonical bank id from GET /v1/reference/banks (recommended).",
            "example": "ng.opay"
          },
          "bank_code": {
            "type": "string",
            "description": "Optional provider-specific bank code escape hatch when bank_id is unavailable."
          },
          "currency": {
            "type": "string",
            "minLength": 3,
            "maxLength": 3,
            "default": "NGN",
            "example": "NGN"
          }
        }
      },
      "VerifyAccountResult": {
        "type": "object",
        "required": [
          "provider",
          "account_name",
          "account_number",
          "bank_code",
          "currency"
        ],
        "properties": {
          "provider": {
            "type": "string",
            "example": "palmpay"
          },
          "account_name": {
            "type": "string",
            "example": "JOHN DOE"
          },
          "account_number": {
            "type": "string",
            "example": "0123456789"
          },
          "bank_code": {
            "type": "string",
            "example": "100004"
          },
          "bank_id": {
            "type": "string",
            "example": "ng.opay"
          },
          "currency": {
            "type": "string",
            "example": "NGN"
          }
        }
      },
      "VerifyAccountResponse": {
        "type": "object",
        "required": [
          "data",
          "meta"
        ],
        "properties": {
          "data": {
            "$ref": "#/components/schemas/VerifyAccountResult"
          },
          "meta": {
            "$ref": "#/components/schemas/ResponseMeta"
          }
        }
      },
      "ProviderBalanceResult": {
        "type": "object",
        "required": [
          "provider",
          "currency",
          "available"
        ],
        "properties": {
          "provider": {
            "type": "string",
            "example": "palmpay"
          },
          "currency": {
            "type": "string",
            "example": "NGN"
          },
          "available": {
            "type": "integer",
            "description": "Spendable balance in minor units.",
            "example": 500000
          },
          "ledger": {
            "type": "integer",
            "description": "Total wallet balance in minor units when the provider exposes it.",
            "example": 525000
          }
        }
      },
      "ProviderBalanceResponse": {
        "type": "object",
        "required": [
          "data",
          "meta"
        ],
        "properties": {
          "data": {
            "$ref": "#/components/schemas/ProviderBalanceResult"
          },
          "meta": {
            "$ref": "#/components/schemas/ResponseMeta"
          }
        }
      },
      "PayoutBankDestination": {
        "type": "object",
        "required": [
          "type"
        ],
        "description": "Bank / local rail destination. Required fields depend on the resolved provider rail (see GET /v1/payouts/capabilities \u2192 providers[].rails[].required_fields).",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "bank_account"
            ]
          },
          "account_number": {
            "type": "string",
            "description": "Bank account number, CLABE, CCI, or similar local account identifier."
          },
          "bank_id": {
            "type": "string",
            "description": "Capisum canonical bank id from GET /v1/reference/banks (e.g. ng.opay). Required for many NGN rails.",
            "example": "ng.opay"
          },
          "bank_code": {
            "type": "string",
            "description": "Corridor bank code when Capisum bank_id is not used."
          },
          "account_name": {
            "type": "string"
          },
          "name": {
            "type": "string",
            "description": "Beneficiary legal / full name. Falls back to account_name when omitted."
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "physical_address": {
            "type": "string",
            "description": "Beneficiary street address for provider beneficiary APIs."
          },
          "recipient_type": {
            "type": "string",
            "enum": [
              "individual",
              "business"
            ]
          },
          "routing_number": {
            "type": "string",
            "description": "US ACH routing number."
          },
          "account_type": {
            "type": "string",
            "enum": [
              "checking",
              "savings"
            ]
          },
          "iban": {
            "type": "string"
          },
          "bic": {
            "type": "string"
          },
          "pix_key": {
            "type": "string"
          },
          "pix_key_type": {
            "type": "string",
            "enum": [
              "cpf",
              "cnpj",
              "phone",
              "email",
              "evp"
            ]
          },
          "rut": {
            "type": "string"
          },
          "document_type": {
            "type": "string"
          },
          "document_number": {
            "type": "string"
          },
          "cbu_cvu": {
            "type": "string"
          },
          "country": {
            "type": "string",
            "minLength": 2,
            "maxLength": 2
          },
          "phone": {
            "type": "string"
          }
        }
      },
      "PayoutCryptoWalletDestination": {
        "type": "object",
        "required": [
          "type",
          "address",
          "network"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "crypto_wallet"
            ]
          },
          "address": {
            "type": "string",
            "description": "Destination crypto wallet address."
          },
          "network": {
            "type": "string",
            "description": "Quidax blockchain network (for example, trc20, erc20, bep20, bitcoin).",
            "example": "trc20"
          },
          "destination_tag": {
            "type": "string",
            "description": "Optional memo/tag for networks that require it."
          },
          "account_name": {
            "type": "string"
          },
          "country": {
            "type": "string",
            "minLength": 2,
            "maxLength": 2
          }
        }
      },
      "PayoutMobileMoneyDestination": {
        "type": "object",
        "required": [
          "type",
          "account_number",
          "mobile_money_code"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "mobile_money"
            ]
          },
          "account_number": {
            "type": "string",
            "description": "Mobile wallet number."
          },
          "mobile_money_code": {
            "type": "string",
            "description": "Normalized network label. GHS: MTN, AIRTEL. KES: SAFARICOM, AIRTEL."
          },
          "account_name": {
            "type": "string"
          },
          "country": {
            "type": "string",
            "minLength": 2,
            "maxLength": 2
          },
          "phone": {
            "type": "string"
          }
        }
      },
      "MerchantWalletPayInRequest": {
        "type": "object",
        "required": [
          "amount",
          "network"
        ],
        "description": "Merchant wallet pay-in. The deposit address is created on the merchant Quidax or Bitnob account.",
        "properties": {
          "amount": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "integer"
              }
            ],
            "description": "Amount in 8-decimal minor units for crypto (500000000 = 5 USDT)."
          },
          "currency": {
            "type": "string",
            "minLength": 3,
            "maxLength": 10
          },
          "asset": {
            "type": "string",
            "minLength": 3,
            "maxLength": 10,
            "description": "Crypto asset ticker (e.g. btc, usdt). Alias for currency.",
            "example": "usdt"
          },
          "network": {
            "type": "string",
            "description": "Quidax blockchain network (e.g. trc20, erc20, bep20, bitcoin).",
            "example": "trc20"
          },
          "customer": {
            "type": "object",
            "description": "Optional Capisum customer record. Not sent to Quidax for merchant-wallet pay-ins.",
            "properties": {
              "email": {
                "type": "string",
                "format": "email"
              },
              "name": {
                "type": "string"
              }
            }
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          },
          "callback_url": {
            "type": "string",
            "format": "uri"
          },
          "provider": {
            "type": "string",
            "example": "quidax"
          }
        },
        "example": {
          "amount": "500000000",
          "asset": "usdt",
          "network": "trc20",
          "provider": "quidax"
        }
      },
      "CustomerWalletPayInRequest": {
        "type": "object",
        "required": [
          "amount",
          "network",
          "customer"
        ],
        "description": "Customer wallet pay-in. The deposit address is attributed to customer.email (Quidax sub-account or Bitnob customer address).",
        "properties": {
          "amount": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "integer"
              }
            ],
            "description": "Amount in 8-decimal minor units for crypto (500000000 = 5 USDT)."
          },
          "currency": {
            "type": "string",
            "minLength": 3,
            "maxLength": 10
          },
          "asset": {
            "type": "string",
            "minLength": 3,
            "maxLength": 10,
            "description": "Crypto asset ticker (e.g. btc, usdt). Alias for currency.",
            "example": "usdt"
          },
          "network": {
            "type": "string",
            "description": "Quidax blockchain network (e.g. trc20, erc20, bep20, bitcoin).",
            "example": "trc20"
          },
          "customer": {
            "type": "object",
            "required": [
              "email"
            ],
            "description": "Identifies the Quidax sub-account. Email is unique and immutable; name is optional and mapped to first/last name.",
            "properties": {
              "email": {
                "type": "string",
                "format": "email"
              },
              "name": {
                "type": "string"
              }
            }
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          },
          "callback_url": {
            "type": "string",
            "format": "uri"
          },
          "provider": {
            "type": "string",
            "example": "quidax"
          }
        },
        "example": {
          "amount": "500000000",
          "asset": "usdt",
          "network": "trc20",
          "provider": "quidax",
          "customer": {
            "email": "ada@example.com",
            "name": "Ada Okafor"
          }
        }
      },
      "PayoutRequest": {
        "type": "object",
        "required": [
          "amount",
          "destination"
        ],
        "properties": {
          "amount": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "integer"
              }
            ],
            "description": "Amount in minor units. Quidax crypto uses 8 decimal places (500000000 = 5 USDT)."
          },
          "currency": {
            "type": "string",
            "minLength": 3,
            "maxLength": 10,
            "default": "NGN"
          },
          "destination": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/PayoutBankDestination"
              },
              {
                "$ref": "#/components/schemas/PayoutMobileMoneyDestination"
              },
              {
                "$ref": "#/components/schemas/PayoutCryptoWalletDestination"
              }
            ]
          },
          "reference": {
            "type": "string",
            "pattern": "^[a-z0-9_-]{16,50}$",
            "description": "Optional merchant-facing payout reference (16\u201350 chars; lowercase letters, digits, `_`, `-`). Capisum generates a provider-safe `pout_*` reference when omitted.",
            "example": "pout_a1b2c3d4e5f6789012345ab"
          },
          "description": {
            "type": "string",
            "description": "Human-readable payout description."
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          },
          "provider": {
            "type": "string",
            "description": "Optional explicit provider slug (for example, `fincra`, `paystack`, `flutterwave`, `palmpay`, `yativo`, `quidax`, `bitnob`)."
          },
          "recipient": {
            "deprecated": true,
            "description": "Deprecated alias for `destination`.",
            "oneOf": [
              {
                "$ref": "#/components/schemas/PayoutBankDestination"
              },
              {
                "$ref": "#/components/schemas/PayoutMobileMoneyDestination"
              },
              {
                "$ref": "#/components/schemas/PayoutCryptoWalletDestination"
              }
            ]
          }
        }
      },
      "PayoutCapabilities": {
        "type": "object",
        "required": [
          "contract_version",
          "currencies",
          "destination_types",
          "providers"
        ],
        "properties": {
          "contract_version": {
            "type": "string",
            "example": "2026-03"
          },
          "currencies": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "code",
                "country",
                "destinations"
              ],
              "properties": {
                "code": {
                  "type": "string",
                  "example": "NGN"
                },
                "country": {
                  "type": "string",
                  "example": "NG"
                },
                "countries": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "Present when more than one country appears across provider rails for this currency."
                },
                "destinations": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "enum": [
                      "bank_account",
                      "mobile_money",
                      "crypto_wallet"
                    ]
                  }
                },
                "amount_decimals": {
                  "type": "integer",
                  "example": 8
                }
              }
            }
          },
          "destination_types": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "bank_account",
                "mobile_money",
                "crypto_wallet"
              ]
            },
            "example": [
              "bank_account",
              "crypto_wallet",
              "mobile_money"
            ]
          },
          "providers": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "slug",
                "name",
                "currencies",
                "destinations",
                "rails"
              ],
              "properties": {
                "slug": {
                  "type": "string",
                  "example": "yativo"
                },
                "name": {
                  "type": "string",
                  "example": "Yativo"
                },
                "currencies": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "destinations": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "enum": [
                      "bank_account",
                      "mobile_money",
                      "crypto_wallet"
                    ]
                  }
                },
                "rails": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "currency",
                      "country",
                      "destinations"
                    ],
                    "properties": {
                      "currency": {
                        "type": "string",
                        "example": "USD"
                      },
                      "country": {
                        "type": "string",
                        "example": "US"
                      },
                      "destinations": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "enum": [
                            "bank_account",
                            "mobile_money",
                            "crypto_wallet"
                          ]
                        }
                      },
                      "required_fields": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Capisum destination fields required for this rail."
                      },
                      "notes": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "PayoutCapabilitiesResponse": {
        "type": "object",
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "$ref": "#/components/schemas/PayoutCapabilities"
          }
        }
      },
      "BankReferenceRecord": {
        "type": "object",
        "required": [
          "id",
          "name",
          "currency",
          "country",
          "bank_code"
        ],
        "properties": {
          "id": {
            "type": "string",
            "example": "ng.opay"
          },
          "name": {
            "type": "string",
            "example": "OPay"
          },
          "currency": {
            "type": "string",
            "example": "NGN"
          },
          "country": {
            "type": "string",
            "example": "NG"
          },
          "bank_code": {
            "type": "string",
            "description": "Provider bank code when `provider` is set; otherwise the CBN code for NGN banks.",
            "example": "100004"
          }
        }
      },
      "BankReferenceData": {
        "type": "object",
        "required": [
          "contract_version",
          "description",
          "supported_currencies",
          "usage",
          "currency",
          "country",
          "banks"
        ],
        "properties": {
          "contract_version": {
            "type": "string",
            "example": "2026-03"
          },
          "description": {
            "type": "string"
          },
          "supported_currencies": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "usage": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "currency": {
            "type": "string",
            "example": "NGN"
          },
          "country": {
            "type": "string",
            "example": "NG"
          },
          "provider": {
            "type": "string",
            "nullable": true,
            "description": "Provider slug used to filter banks and select bank_code. Null when unfiltered.",
            "example": "fincra"
          },
          "banks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BankReferenceRecord"
            }
          }
        }
      },
      "BankReferenceResponse": {
        "type": "object",
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "$ref": "#/components/schemas/BankReferenceData"
          }
        }
      },
      "Transaction": {
        "type": "object",
        "required": [
          "id",
          "type",
          "status",
          "amount",
          "currency",
          "provider",
          "reference",
          "description",
          "destination",
          "failure",
          "timeline",
          "metadata",
          "created_at",
          "updated_at",
          "environment"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "type": {
            "type": "string",
            "enum": [
              "pay_in",
              "payout",
              "refund",
              "onramp",
              "offramp",
              "conversion"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "queued",
              "pending",
              "processing",
              "pending_provider_confirmation",
              "uncertain",
              "manual_review",
              "completed",
              "authorized",
              "settled",
              "failed",
              "cancelled",
              "refunded"
            ]
          },
          "amount": {
            "type": "integer"
          },
          "currency": {
            "type": "string"
          },
          "provider": {
            "type": "string"
          },
          "reference": {
            "type": "string"
          },
          "provider_reference": {
            "type": "string",
            "nullable": true
          },
          "customer_id": {
            "type": "string",
            "nullable": true,
            "example": "cus_5f2c1a9b7e4d0c3a8b6f2e",
            "description": "Customer this transaction belongs to, when one is known."
          },
          "pay_in_destination_id": {
            "type": "string",
            "nullable": true,
            "example": "pid_9a4c2f7b1e8d0a3c5b6f2e",
            "description": "Pay-in destination the money arrived in, for `pay_in` transactions."
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "destination": {
            "nullable": true,
            "allOf": [
              {
                "$ref": "#/components/schemas/TransactionDestination"
              }
            ]
          },
          "deposit": {
            "nullable": true,
            "allOf": [
              {
                "$ref": "#/components/schemas/TransactionDeposit"
              }
            ],
            "description": "Crypto deposit address details for Quidax pay-ins."
          },
          "failure": {
            "nullable": true,
            "allOf": [
              {
                "$ref": "#/components/schemas/TransactionFailure"
              }
            ]
          },
          "timeline": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TransactionTimelineEvent"
            }
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          },
          "customer_email": {
            "type": "string",
            "nullable": true
          },
          "customer_name": {
            "type": "string",
            "nullable": true
          },
          "environment": {
            "type": "string",
            "enum": [
              "staging",
              "production"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "authorization_url": {
            "type": "string",
            "format": "uri",
            "description": "Present on pay-in create responses when the provider returns a checkout URL."
          }
        }
      },
      "TransactionDeposit": {
        "type": "object",
        "properties": {
          "address_id": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "asset": {
            "type": "string",
            "example": "USDT"
          },
          "network": {
            "type": "string",
            "example": "trc20"
          },
          "destination_tag": {
            "type": "string"
          },
          "wallet": {
            "type": "string",
            "enum": [
              "merchant_wallet",
              "customer_wallet"
            ],
            "description": "merchant_wallet settles to the merchant Quidax account. customer_wallet settles to a per-customer sub-account."
          }
        }
      },
      "TransactionDestination": {
        "type": "object",
        "required": [
          "type"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "bank_account",
              "mobile_money",
              "crypto_wallet"
            ]
          },
          "bank_id": {
            "type": "string",
            "example": "ng.opay"
          },
          "account_number": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "asset": {
            "type": "string",
            "example": "BTC"
          },
          "account_name": {
            "type": "string"
          },
          "country": {
            "type": "string",
            "example": "NG"
          },
          "phone": {
            "type": "string"
          },
          "mobile_money_code": {
            "type": "string"
          },
          "network": {
            "type": "string"
          },
          "destination_tag": {
            "type": "string"
          }
        }
      },
      "TransactionFailure": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "nullable": true
          },
          "message": {
            "type": "string",
            "nullable": true
          },
          "at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "retryable": {
            "type": "boolean",
            "example": false
          }
        }
      },
      "TransactionTimelineEvent": {
        "type": "object",
        "required": [
          "status",
          "at"
        ],
        "properties": {
          "status": {
            "type": "string",
            "example": "created"
          },
          "at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ResponseMeta": {
        "type": "object",
        "required": [
          "request_id",
          "timestamp"
        ],
        "properties": {
          "request_id": {
            "type": "string",
            "example": "req_xxx"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "example": "2026-07-07T09:20:00.000Z"
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        }
      },
      "PaginationMeta": {
        "type": "object",
        "required": [
          "limit",
          "has_more",
          "next_cursor"
        ],
        "properties": {
          "limit": {
            "type": "integer",
            "example": 20
          },
          "has_more": {
            "type": "boolean",
            "example": false
          },
          "next_cursor": {
            "type": "string",
            "nullable": true,
            "example": null
          },
          "prev_cursor": {
            "type": "string",
            "nullable": true
          },
          "page": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          }
        }
      },
      "ApiError": {
        "type": "object",
        "required": [
          "code",
          "message",
          "type",
          "retryable",
          "details"
        ],
        "properties": {
          "code": {
            "type": "string",
            "example": "INVALID_PROVIDER"
          },
          "message": {
            "type": "string",
            "example": "The selected provider is not supported."
          },
          "type": {
            "type": "string",
            "enum": [
              "validation_error",
              "authentication_error",
              "authorization_error",
              "not_found_error",
              "conflict_error",
              "provider_error",
              "rate_limit_error",
              "api_error"
            ],
            "example": "validation_error"
          },
          "retryable": {
            "type": "boolean",
            "example": false
          },
          "details": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "TransactionResponse": {
        "type": "object",
        "required": [
          "data",
          "meta"
        ],
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Transaction"
          },
          "meta": {
            "$ref": "#/components/schemas/ResponseMeta"
          }
        }
      },
      "TransactionListResponse": {
        "type": "object",
        "required": [
          "data",
          "meta"
        ],
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Transaction"
            }
          },
          "meta": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ResponseMeta"
              },
              {
                "type": "object",
                "required": [
                  "pagination"
                ],
                "properties": {
                  "pagination": {
                    "$ref": "#/components/schemas/PaginationMeta"
                  }
                }
              }
            ]
          }
        }
      },
      "CustomerRequest": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "individual",
              "business"
            ],
            "default": "individual"
          },
          "name": {
            "type": "string",
            "example": "Ada Okafor"
          },
          "email": {
            "type": "string",
            "format": "email",
            "example": "ada@example.com"
          },
          "phone": {
            "type": "string",
            "example": "+2348012345678",
            "description": "E.164 format. Required by some pay-in providers."
          },
          "country": {
            "type": "string",
            "example": "BR",
            "description": "ISO 3166-1 alpha-2 or alpha-3. Required by some pay-in providers."
          },
          "provider": {
            "type": "string",
            "example": "yativo",
            "description": "Preferred pay-in provider. Ignored when the dashboard already has a matching pay_in route for `currency` (dashboard configuration wins)."
          },
          "currency": {
            "type": "string",
[...]
