{
  "openapi": "3.0.3",
  "info": {
    "title": "Capisum API",
    "description": "API for creating payouts and querying transactions. Authenticate with an organization API key (`Authorization: Bearer cps_...`). The key's environment (staging or production) scopes provider credentials.\n\n**Shipped today:** Payouts in NGN, GHS, and KES.",
    "version": "1.0.0",
    "contact": {
      "name": "Capisum Support",
      "email": "support@capisum.com",
      "url": "https://capisum.com"
    }
  },
  "externalDocs": {
    "description": "Integration guides",
    "url": "https://docs.capisum.com/quickstart"
  },
  "servers": [
    {
      "url": "https://api.capisum.com",
      "description": "Production"
    },
    {
      "url": "http://localhost:3000",
      "description": "Local development"
    }
  ],
  "tags": [
    {
      "name": "Payouts"
    },
    {
      "name": "Providers"
    },
    {
      "name": "Reference"
    },
    {
      "name": "Transactions"
    },
    {
      "name": "Verification"
    }
  ],
  "paths": {
    "/v1/providers": {
      "get": {
        "tags": [
          "Providers"
        ],
        "summary": "List available providers",
        "operationId": "get_v1_providers",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AvailableProviderListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "description": "Returns provider slugs Capisum can route to when connected in your workspace. Lists configurable payout providers that support NGN bank transfers.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ]
      }
    },
    "/v1/payouts/capabilities": {
      "get": {
        "tags": [
          "Payouts"
        ],
        "summary": "Get payout contract and provider capabilities",
        "operationId": "get_v1_payouts_capabilities",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PayoutCapabilitiesResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "description": "Returns supported payout providers, currencies, and destination types for the current contract version. The capabilities payload is NGN bank-focused; GHS and KES bank/mobile-money payouts are also accepted on POST /v1/transactions/payout when your routing rules and provider credentials support them.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ]
      }
    },
    "/v1/reference/banks": {
      "get": {
        "tags": [
          "Reference"
        ],
        "summary": "List canonical banks",
        "operationId": "get_v1_reference_banks",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BankReferenceResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "description": "Returns Capisum canonical bank identifiers for payouts. Use `bank_id` on payout recipients; Capisum resolves provider-specific codes at execution time. Filter with `provider` to see only banks mappable to that provider.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "currency",
            "in": "query",
            "schema": {
              "type": "string",
              "minLength": 3,
              "maxLength": 3,
              "default": "NGN"
            }
          },
          {
            "name": "provider",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Optional provider slug (e.g. palmpay, fincra)."
          }
        ]
      }
    },
    "/v1/providers/{slug}/status": {
      "get": {
        "tags": [
          "Providers"
        ],
        "summary": "Get provider status",
        "operationId": "get_v1_providers_slug_status",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProviderHealthResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "description": "Returns the latest health snapshot for a provider in the API key's environment. If no health data exists, returns `{ \"status\": \"unknown\" }`.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "fincra"
            }
          }
        ]
      }
    },
    "/v1/providers/{slug}/balance": {
      "get": {
        "tags": [
          "Providers"
        ],
        "summary": "Get provider balance",
        "operationId": "get_v1_providers_slug_balance",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProviderBalanceResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "502": {
            "$ref": "#/components/responses/ProviderError"
          }
        },
        "description": "Returns the available balance for a connected provider in the API key's environment. Amounts are in minor units (for example, `500000` = \u20a65,000.00 in NGN). Supported for `fincra`, `paystack`, `flutterwave`, and `palmpay`.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "fincra"
            }
          },
          {
            "name": "currency",
            "in": "query",
            "schema": {
              "type": "string",
              "minLength": 3,
              "maxLength": 3
            },
            "description": "Optional currency filter. Paystack may return multiple wallet balances."
          }
        ]
      }
    },
    "/v1/verify/account": {
      "post": {
        "tags": [
          "Verification"
        ],
        "summary": "Verify bank account",
        "operationId": "post_v1_verify_account",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerifyAccountResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "502": {
            "$ref": "#/components/responses/ProviderError"
          }
        },
        "description": "Resolve a bank account name through a connected provider that supports account resolution. Use `bank_id` from `GET /v1/reference/banks` when possible. Supported for `fincra`, `paystack`, `flutterwave`, and `palmpay`.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyAccountRequest"
              }
            }
          }
        }
      }
    },
    "/v1/transactions/payout": {
      "post": {
        "tags": [
          "Transactions"
        ],
        "summary": "Create payout",
        "operationId": "post_v1_transactions_payout",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "502": {
            "$ref": "#/components/responses/ProviderError"
          }
        },
        "description": "Create a payout through Capisum routing. Amounts are in minor units (for example, `500000` = \u20a65,000.00 in NGN).\n\nCapisum accepts one canonical `destination` shape; each provider adapter translates it. Use `GET /v1/payouts/capabilities` for supported NGN providers and `GET /v1/reference/banks` for canonical `bank_id` values. When `provider` is set, the destination must be valid for that provider.\n\nPayouts are queued for asynchronous provider submission. A successful response returns `status: queued` with your merchant `reference`. Capisum assigns per-attempt provider transfer references internally.\n\nRequires `X-Idempotency-Key`.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "X-Idempotency-Key",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[a-zA-Z0-9_-]{1,128}$"
            },
            "description": "Unique key for safe retries. Reusing a key returns the original transaction."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PayoutRequest"
              },
              "examples": {
                "ngn_bank": {
                  "summary": "NGN bank payout",
                  "value": {
                    "amount": "500000",
                    "currency": "NGN",
                    "provider": "fincra",
                    "destination": {
                      "type": "bank_account",
                      "bank_id": "ng.opay",
                      "account_number": "7068270185",
                      "account_name": "Test Recipient"
                    },
                    "description": "NGN vendor payout"
                  }
                },
                "ghs_mobile_money": {
                  "summary": "GHS mobile money payout",
                  "value": {
                    "amount": "10000",
                    "currency": "GHS",
                    "provider": "fincra",
                    "destination": {
                      "type": "mobile_money",
                      "mobile_money_code": "MTN",
                      "account_number": "2330803443433",
                      "account_name": "Ama Mensah"
                    }
                  }
                },
                "kes_mobile_money": {
                  "summary": "KES mobile money payout",
                  "value": {
                    "amount": "50000",
                    "currency": "KES",
                    "provider": "fincra",
                    "destination": {
                      "type": "mobile_money",
                      "mobile_money_code": "SAFARICOM",
                      "account_number": "254803456789",
                      "account_name": "John Kamau"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl -X POST https://api.capisum.com/v1/transactions/payout \\\n  -H \"Authorization: Bearer cps_your_key\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"X-Idempotency-Key: payout-order-123\" \\\n  -d '{\n    \"amount\": \"500000\",\n    \"currency\": \"NGN\",\n    \"provider\": \"fincra\",\n    \"destination\": {\n      \"type\": \"bank_account\",\n      \"bank_id\": \"ng.opay\",\n      \"account_number\": \"7068270185\",\n      \"account_name\": \"Test Recipient\"\n    }\n  }'"
          },
          {
            "lang": "javascript",
            "label": "Node.js",
            "source": "const response = await fetch('https://api.capisum.com/v1/transactions/payout', {\n  method: 'POST',\n  headers: {\n    Authorization: 'Bearer cps_your_key',\n    'Content-Type': 'application/json',\n    'X-Idempotency-Key': 'payout-order-123',\n  },\n  body: JSON.stringify({\n    amount: '500000',\n    currency: 'NGN',\n    provider: 'fincra',\n    destination: {\n      type: 'bank_account',\n      bank_id: 'ng.opay',\n      account_number: '7068270185',\n      account_name: 'Test Recipient',\n    },\n  }),\n});\nconst { data } = await response.json();"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import requests\n\nresponse = requests.post(\n    'https://api.capisum.com/v1/transactions/payout',\n    headers={\n        'Authorization': 'Bearer cps_your_key',\n        'X-Idempotency-Key': 'payout-order-123',\n    },\n    json={\n        'amount': '500000',\n        'currency': 'NGN',\n        'provider': 'fincra',\n        'destination': {\n            'type': 'bank_account',\n            'bank_id': 'ng.opay',\n            'account_number': '7068270185',\n            'account_name': 'Test Recipient',\n        },\n    },\n)\nprint(response.json()['data'])"
          }
        ]
      }
    },
    "/v1/transactions": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "summary": "List transactions",
        "operationId": "get_v1_transactions",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "description": "List transactions for your organization. Results are cursor-paginated.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "starting_after",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Transaction ID cursor for the next page."
          },
          {
            "name": "ending_before",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Transaction ID cursor for the previous page."
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "pay_in",
                "payout",
                "refund"
              ]
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "pending",
                "processing",
                "authorized",
                "settled",
                "failed",
                "cancelled",
                "refunded"
              ]
            }
          },
          {
            "name": "status_group",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "successful",
                "pending",
                "review",
                "failed",
                "refunded"
              ]
            },
            "description": "Filter by lifecycle group. `pending` includes queued/processing states; `review` includes uncertain/manual_review."
          },
          {
            "name": "provider",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "created_after",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "environment",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "staging",
                "production"
              ]
            }
          }
        ]
      }
    },
    "/v1/transactions/ref/{reference}": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "summary": "Get transaction by reference",
        "operationId": "get_v1_transactions_ref_reference",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "reference",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/transactions/{id}": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "summary": "Get transaction by ID",
        "operationId": "get_v1_transactions_id",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ]
      }
    },
    "/v1/transactions/{id}/verify": {
      "post": {
        "tags": [
          "Transactions"
        ],
        "summary": "Verify transaction",
        "operationId": "post_v1_transactions_id_verify",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "502": {
            "$ref": "#/components/responses/ProviderError"
          }
        },
        "description": "Poll the upstream provider for the latest status and update the transaction record.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Organization API key (`cps_...`) from the Capisum dashboard."
      }
    },
    "schemas": {
      "AvailableProvider": {
        "type": "object",
        "required": [
          "id",
          "slug",
          "name",
          "status",
          "configurable",
          "capabilities",
          "supported_currencies",
          "supported_destinations"
        ],
        "properties": {
          "id": {
            "type": "string",
            "example": "provider_fincra"
          },
          "slug": {
            "type": "string",
            "example": "fincra"
          },
          "name": {
            "type": "string",
            "example": "Fincra"
          },
          "status": {
            "type": "string",
            "enum": [
              "available"
            ],
            "example": "available"
          },
          "configurable": {
            "type": "boolean",
            "example": true
          },
          "capabilities": {
            "type": "object",
            "required": [
              "payin",
              "payout",
              "balance"
            ],
            "properties": {
              "payin": {
                "type": "boolean",
                "example": false
              },
              "payout": {
                "type": "boolean",
                "example": true
              },
              "balance": {
                "type": "boolean",
                "example": false
              }
            }
          },
          "supported_currencies": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "NGN"
              ]
            }
          },
          "supported_destinations": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "bank_account"
              ]
            }
          }
        }
      },
      "AvailableProviderListResponse": {
        "type": "object",
        "required": [
          "data",
          "meta"
        ],
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AvailableProvider"
            }
          },
          "meta": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ResponseMeta"
              },
              {
                "type": "object",
                "required": [
                  "pagination"
                ],
                "properties": {
                  "pagination": {
                    "$ref": "#/components/schemas/PaginationMeta"
                  }
                }
              }
            ]
          }
        }
      },
      "ProviderHealth": {
        "type": "object",
        "required": [
          "status"
        ],
        "properties": {
          "status": {
            "type": "string",
            "example": "healthy"
          },
          "successRate": {
            "type": "number",
            "nullable": true
          },
          "latencyP50Ms": {
            "type": "integer",
            "nullable": true
          },
          "latencyP95Ms": {
            "type": "integer",
            "nullable": true
          },
          "requestCount": {
            "type": "integer",
            "nullable": true
          },
          "errorCount": {
            "type": "integer",
            "nullable": true
          },
          "recordedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "ProviderHealthResponse": {
        "type": "object",
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "$ref": "#/components/schemas/ProviderHealth"
          }
        }
      },
      "VerifyAccountRequest": {
        "type": "object",
        "required": [
          "provider",
          "account_number"
        ],
        "properties": {
          "provider": {
            "type": "string",
            "description": "Connected provider slug to use for resolution (for example, `palmpay` or `paystack`).",
            "example": "palmpay"
          },
          "account_number": {
            "type": "string",
            "minLength": 6,
            "maxLength": 20,
            "example": "0123456789"
          },
          "bank_id": {
            "type": "string",
            "description": "Capisum canonical bank id from GET /v1/reference/banks (recommended).",
            "example": "ng.opay"
          },
          "bank_code": {
            "type": "string",
            "description": "Optional provider-specific bank code escape hatch when bank_id is unavailable."
          },
          "currency": {
            "type": "string",
            "minLength": 3,
            "maxLength": 3,
            "default": "NGN",
            "example": "NGN"
          }
        }
      },
      "VerifyAccountResult": {
        "type": "object",
        "required": [
          "provider",
          "account_name",
          "account_number",
          "bank_code",
          "currency"
        ],
        "properties": {
          "provider": {
            "type": "string",
            "example": "palmpay"
          },
          "account_name": {
            "type": "string",
            "example": "JOHN DOE"
          },
          "account_number": {
            "type": "string",
            "example": "0123456789"
          },
          "bank_code": {
            "type": "string",
            "example": "100004"
          },
          "bank_id": {
            "type": "string",
            "example": "ng.opay"
          },
          "currency": {
            "type": "string",
            "example": "NGN"
          }
        }
      },
      "VerifyAccountResponse": {
        "type": "object",
        "required": [
          "data",
          "meta"
        ],
        "properties": {
          "data": {
            "$ref": "#/components/schemas/VerifyAccountResult"
          },
          "meta": {
            "$ref": "#/components/schemas/ResponseMeta"
          }
        }
      },
      "ProviderBalanceResult": {
        "type": "object",
        "required": [
          "provider",
          "currency",
          "available"
        ],
        "properties": {
          "provider": {
            "type": "string",
            "example": "palmpay"
          },
          "currency": {
            "type": "string",
            "example": "NGN"
          },
          "available": {
            "type": "integer",
            "description": "Spendable balance in minor units.",
            "example": 500000
          },
          "ledger": {
            "type": "integer",
            "description": "Total wallet balance in minor units when the provider exposes it.",
            "example": 525000
          }
        }
      },
      "ProviderBalanceResponse": {
        "type": "object",
        "required": [
          "data",
          "meta"
        ],
        "properties": {
          "data": {
            "$ref": "#/components/schemas/ProviderBalanceResult"
          },
          "meta": {
            "$ref": "#/components/schemas/ResponseMeta"
          }
        }
      },
      "PayoutBankDestination": {
        "type": "object",
        "required": [
          "type",
          "account_number",
          "bank_id"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "bank_account"
            ]
          },
          "account_number": {
            "type": "string"
          },
          "bank_id": {
            "type": "string",
            "description": "Capisum canonical bank id from GET /v1/reference/banks (e.g. ng.opay).",
            "example": "ng.opay"
          },
          "account_name": {
            "type": "string"
          },
          "country": {
            "type": "string",
            "minLength": 2,
            "maxLength": 2
          },
          "phone": {
            "type": "string"
          }
        }
      },
      "PayoutMobileMoneyDestination": {
        "type": "object",
        "required": [
          "type",
          "account_number",
          "mobile_money_code"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "mobile_money"
            ]
          },
          "account_number": {
            "type": "string",
            "description": "Mobile wallet number."
          },
          "mobile_money_code": {
            "type": "string",
            "description": "Normalized network label. GHS: MTN, AIRTEL. KES: SAFARICOM, AIRTEL."
          },
          "account_name": {
            "type": "string"
          },
          "country": {
            "type": "string",
            "minLength": 2,
            "maxLength": 2
          },
          "phone": {
            "type": "string"
          }
        }
      },
      "PayoutRequest": {
        "type": "object",
        "required": [
          "amount",
          "destination"
        ],
        "properties": {
          "amount": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "integer"
              }
            ],
            "description": "Amount in minor units."
          },
          "currency": {
            "type": "string",
            "minLength": 3,
            "maxLength": 3,
            "default": "NGN",
            "enum": [
              "NGN",
              "GHS",
              "KES"
            ]
          },
          "destination": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/PayoutBankDestination"
              },
              {
                "$ref": "#/components/schemas/PayoutMobileMoneyDestination"
              }
            ]
          },
          "reference": {
            "type": "string",
            "pattern": "^[a-z0-9_-]{16,50}$",
            "description": "Optional merchant-facing payout reference (16\u201350 chars; lowercase letters, digits, `_`, `-`). Capisum generates a provider-safe `pout_*` reference when omitted.",
            "example": "pout_a1b2c3d4e5f6789012345ab"
          },
          "description": {
            "type": "string",
            "description": "Human-readable payout description."
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          },
          "provider": {
            "type": "string",
            "description": "Optional explicit provider slug (for example, `fincra`, `paystack`, `flutterwave`, `palmpay`)."
          },
          "recipient": {
            "deprecated": true,
            "description": "Deprecated alias for `destination`.",
            "oneOf": [
              {
                "$ref": "#/components/schemas/PayoutBankDestination"
              },
              {
                "$ref": "#/components/schemas/PayoutMobileMoneyDestination"
              }
            ]
          }
        }
      },
      "PayoutCapabilities": {
        "type": "object",
        "required": [
          "contract_version",
          "currencies",
          "destination_types",
          "providers"
        ],
        "properties": {
          "contract_version": {
            "type": "string",
            "example": "2026-03"
          },
          "currencies": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "code",
                "country",
                "destinations"
              ],
              "properties": {
                "code": {
                  "type": "string",
                  "example": "NGN"
                },
                "country": {
                  "type": "string",
                  "example": "NG"
                },
                "destinations": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "enum": [
                      "bank_account"
                    ]
                  }
                }
              }
            }
          },
          "destination_types": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "bank_account"
              ]
            },
            "example": [
              "bank_account"
            ]
          },
          "providers": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "slug",
                "name",
                "currencies",
                "destinations"
              ],
              "properties": {
                "slug": {
                  "type": "string",
                  "example": "fincra"
                },
                "name": {
                  "type": "string",
                  "example": "Fincra"
                },
                "currencies": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "enum": [
                      "NGN"
                    ]
                  }
                },
                "destinations": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "enum": [
                      "bank_account"
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "PayoutCapabilitiesResponse": {
        "type": "object",
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "$ref": "#/components/schemas/PayoutCapabilities"
          }
        }
      },
      "BankReferenceRecord": {
        "type": "object",
        "required": [
          "id",
          "name",
          "currency",
          "country"
        ],
        "properties": {
          "id": {
            "type": "string",
            "example": "ng.opay"
          },
          "name": {
            "type": "string",
            "example": "OPay"
          },
          "currency": {
            "type": "string",
            "example": "NGN"
          },
          "country": {
            "type": "string",
            "example": "NG"
          }
        }
      },
      "BankReferenceData": {
        "type": "object",
        "required": [
          "contract_version",
          "description",
          "supported_currencies",
          "usage",
          "currency",
          "country",
          "banks"
        ],
        "properties": {
          "contract_version": {
            "type": "string",
            "example": "2026-03"
          },
          "description": {
            "type": "string"
          },
          "supported_currencies": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "usage": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "currency": {
            "type": "string",
            "example": "NGN"
          },
          "country": {
            "type": "string",
            "example": "NG"
          },
          "banks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BankReferenceRecord"
            }
          }
        }
      },
      "BankReferenceResponse": {
        "type": "object",
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "$ref": "#/components/schemas/BankReferenceData"
          }
        }
      },
      "Transaction": {
        "type": "object",
        "required": [
          "id",
          "type",
          "status",
          "amount",
          "currency",
          "provider",
          "reference",
          "description",
          "destination",
          "failure",
          "timeline",
          "metadata",
          "created_at",
          "updated_at",
          "environment"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "type": {
            "type": "string",
            "enum": [
              "pay_in",
              "payout",
              "refund"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "queued",
              "pending",
              "processing",
              "pending_provider_confirmation",
              "uncertain",
              "manual_review",
              "completed",
              "authorized",
              "settled",
              "failed",
              "cancelled",
              "refunded"
            ]
          },
          "amount": {
            "type": "integer"
          },
          "currency": {
            "type": "string"
          },
          "provider": {
            "type": "string"
          },
          "reference": {
            "type": "string"
          },
          "provider_reference": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "destination": {
            "nullable": true,
            "allOf": [
              {
                "$ref": "#/components/schemas/TransactionDestination"
              }
            ]
          },
          "failure": {
            "nullable": true,
            "allOf": [
              {
                "$ref": "#/components/schemas/TransactionFailure"
              }
            ]
          },
          "timeline": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TransactionTimelineEvent"
            }
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          },
          "customer_email": {
            "type": "string",
            "nullable": true
          },
          "customer_name": {
            "type": "string",
            "nullable": true
          },
          "environment": {
            "type": "string",
            "enum": [
              "staging",
              "production"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "authorization_url": {
            "type": "string",
            "format": "uri",
            "description": "Present on pay-in create responses when the provider returns a checkout URL."
          }
        }
      },
      "TransactionDestination": {
        "type": "object",
        "required": [
          "type",
          "account_number"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "bank_account",
              "mobile_money"
            ]
          },
          "bank_id": {
            "type": "string",
            "example": "ng.opay"
          },
          "account_number": {
            "type": "string"
          },
          "account_name": {
            "type": "string"
          },
          "country": {
            "type": "string",
            "example": "NG"
          },
          "phone": {
            "type": "string"
          },
          "mobile_money_code": {
            "type": "string"
          }
        }
      },
      "TransactionFailure": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "nullable": true
          },
          "message": {
            "type": "string",
            "nullable": true
          },
          "at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "retryable": {
            "type": "boolean",
            "example": false
          }
        }
      },
      "TransactionTimelineEvent": {
        "type": "object",
        "required": [
          "status",
          "at"
        ],
        "properties": {
          "status": {
            "type": "string",
            "example": "created"
          },
          "at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ResponseMeta": {
        "type": "object",
        "required": [
          "request_id",
          "timestamp"
        ],
        "properties": {
          "request_id": {
            "type": "string",
            "example": "req_xxx"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "example": "2026-07-07T09:20:00.000Z"
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        }
      },
      "PaginationMeta": {
        "type": "object",
        "required": [
          "limit",
          "has_more",
          "next_cursor"
        ],
        "properties": {
          "limit": {
            "type": "integer",
            "example": 20
          },
          "has_more": {
            "type": "boolean",
            "example": false
          },
          "next_cursor": {
            "type": "string",
            "nullable": true,
            "example": null
          },
          "prev_cursor": {
            "type": "string",
            "nullable": true
          },
          "page": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          }
        }
      },
      "ApiError": {
        "type": "object",
        "required": [
          "code",
          "message",
          "type",
          "retryable",
          "details"
        ],
        "properties": {
          "code": {
            "type": "string",
            "example": "INVALID_PROVIDER"
          },
          "message": {
            "type": "string",
            "example": "The selected provider is not supported."
          },
          "type": {
            "type": "string",
            "enum": [
              "validation_error",
              "authentication_error",
              "authorization_error",
              "not_found_error",
              "conflict_error",
              "provider_error",
              "rate_limit_error",
              "api_error"
            ],
            "example": "validation_error"
          },
          "retryable": {
            "type": "boolean",
            "example": false
          },
          "details": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "TransactionResponse": {
        "type": "object",
        "required": [
          "data",
          "meta"
        ],
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Transaction"
          },
          "meta": {
            "$ref": "#/components/schemas/ResponseMeta"
          }
        }
      },
      "TransactionListResponse": {
        "type": "object",
        "required": [
          "data",
          "meta"
        ],
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Transaction"
            }
          },
          "meta": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ResponseMeta"
              },
              {
                "type": "object",
                "required": [
                  "pagination"
                ],
                "properties": {
                  "pagination": {
                    "$ref": "#/components/schemas/PaginationMeta"
                  }
                }
              }
            ]
          }
        }
      },
      "ErrorBody": {
        "type": "object",
        "required": [
          "error",
          "meta"
        ],
        "properties": {
          "error": {
            "$ref": "#/components/schemas/ApiError"
          },
          "meta": {
            "$ref": "#/components/schemas/ResponseMeta"
          }
        }
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "Missing or invalid API key",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorBody"
            }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorBody"
            }
          }
        }
      },
      "ValidationError": {
        "description": "Request validation failed",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorBody"
            }
          }
        }
      },
      "ProviderError": {
        "description": "Upstream provider error or timeout",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorBody"
            }
          }
        }
      }
    }
  }
}
